* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Pagination Style
.pagination_box {
  min-width: 32px;
  height: 32px;
}

.pagination_active_style {
  background-color: #ececec !important;
}

.circles {
  height: 15rem;
  width: 15rem;
  transform: rotateZ(-14deg);
}

.circles1 {
  height: 8rem;
  width: 8rem;
  transform: rotateZ(-10deg);
}

.circles2 {
  height: 20rem;
  width: 20rem;
  transform: rotateZ(-10deg);
}

code {
  font-family: "Fira Mono", monospace;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.code-surface-spread {
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}

.highlight-line {
  background-color: rgba(248, 223, 225, 0.589);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.5rem;
  display: block;
  border-left: 0.3em solid rgb(247, 114, 114);
}
